{% extends "main_template.html" %}

{% block content %}
    <h1 class="default">
        تاریخچه باغ فردوس
    </h1>
    <p class="default">
        به دستور محمدشاه قاجار، در سال ۱۲۶۴ ق، قصری برای او در نزدیکی تجریش ساخته شد؛ اما همزمان با بیماری و مرگ او قصر نیمه‌تمام ماند و وی در همان قصر نیمه‌تمام به نام محمدیه (در محل محمودیه فعلی) از دنیا رفت. همزمان با ساخت قصر محمدیه، درباریان نزدیک به او نیز در همان حوالی اقدام به احداث باغ یا عمارت ییلاقی کردند. از جمله حسینعلی‌خان معیرالممالک باغی احداث کرد که به باغ فردوس مشهور شد.
    </p>
{% endblock %}