{% extends "main_template.html" %}

{% block content %}
    <h1 class="default">
        بخش های باغ فردوس
    </h1>
    <div class="row" dir="rtl">
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">موزۀ سینما</h5>
                <p class="card-text">موزه سینما تهران در محیط سرسبز و زیبای باغ فردوس واقع شده است.</p>
                <a href="/about-ferdos-garden/museum-places/" class="btn btn-primary">معرفی بخش های موزه</a>
            </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">محوطه باغ</h5>
                <p class="card-text">همانند موزه سینما، محوطه باغ فردوس محلی دیدنی برای بازدید کنندگان می باشد.</p>
                <a href="/about-ferdos-garden/garden-places/" class="btn btn-primary">معرفی بخش های مختلف محوطه باغ موزه</a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}