{% extends "main_template.html" %}

{% block content %}
    <h1 class="default">
        مسیر بازدید
    </h1>
    <div class="card" style="text-align: center; font-size: 20px">
        <div class="card-header">
            نقشه باغ موزه فردوس
        </div>
        <div class="card-body" style="text-align: center;">
            <blockquote class="blockquote mb-0">
            <img src="/media/about/ferdos_map.png" alt="نقشه باغ موزه فردوس">
            <p>نقشه باغ موزه فردوس</p>
            <a href="/media/about/ferdos_map.pdf" download>دانلود فایل pdf نقشه</a>
            </blockquote>
        </div>
    </div>
{% endblock %}