{% extends "main_template.html" %}

{% block content %}
    <h1 class="default">
        باغ فردوس تهران
    </h1>
    <p class="default">
        باغ فردوس محله‌ای است در شمیران که در نزدیکی خیابان ولیعصر و میدان تجریش واقع شده‌است. اکنون موزه سینمای ایران در این مکان واقع است. از شمال به میدان تجریش و ابتدای خیابان ولیعصر، از جنوب به بزرگراه مدرس و خیابان فرشته، از شرق به خیابان دربندی و انتهای آفریقا و از غرب به خیابان ولیعصر و پل پارک وی محدود می‌گردد. این محله در تهران قدیم وسیع‌تر بوده‌است. از سمت شمال به پل تجریش، از سمت جنوب به پارک وی، از سمت شرق به رودخانه و از سمت غرب به خیابان ولیعصر منتهی شده‌است.
    </p>
{% endblock %}